@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --scrollbar-width: 8px;
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

.dark {
  --scrollbar-track: #161619;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #777;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.anchor-hover {
  @apply border-b border-dotted border-secondary-color-light/40 text-secondary-color-light;
}

::selection {
  background-color: #e7473c;
}
